name: ci

on: [push, pull_request]

jobs:
  test:
    name: Test with Bun latest
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
        with:
          bun-version: "latest"

      - run: bun install
      - run: bun run start
      # - name: Code coverage with Codecov
      #   uses: codecov/codecov-action@ad3126e916f78f00edff4ed0317cf185271ccc2d # v5
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
# name: ci

# on: [push, pull_request, workflow_dispatch]

# # Remove default permissions of GITHUB_TOKEN for security
# # https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs

# permissions: {}

# # contents: read # for checkout

# concurrency:
#   group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
#   cancel-in-progress: true

# jobs:
#   bruh:
#     name: testing
#     runs-on: ubuntu-latest
#     # permissions:
#     #   contents: write # to be able to publish a GitHub release
#     #   issues: write # to be able to comment on released issues
#     #   pull-requests: write # to be able to comment on released pull requests
#     #   id-token: write # to enable use of OIDC for npm provenance
#     steps:
#       - uses: actions/checkout@v4 # v5
#       - uses: oven-sh/setup-bun@v2 # v2
#         with:
#           bun-version: latest
#           registry-url: https://registry.npmjs.org

#       # - name: Cache ~/.bun/install
#       #   id: cache-bun
#       #   uses: actions/cache@v4
#       #   with:
#       #     path: ~/.bun/install
#       #     key: ${{ runner.os }}-bun-v1
#       #     restore-keys: |
#       #       ${{ runner.os }}-bun-v1

#       # - name: Checkout
#       #   uses: actions/checkout@v4

#       # - name: Install pnpm
#       #   uses: pnpm/action-setup@v4

#       # - name: Install Node.js
#       #   uses: actions/setup-node@v4
#       #   with:
#       #     node-version: 24
#       #     registry-url: https://registry.npmjs.org
#       #     cache: pnpm

#       - name: Install dependencies
#         run: bun install

#       - name: bun run start
#       # - name: Publish
#       #   env:
#       #     NEW_VERSION: "3.0.10"
#       #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#       #     GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#       #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
#       #     # NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#       #     # NPM_CONFIG_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#       #     # pnpm publish --no-git-checks
#       #     # node ./scripts/publish.ts --next-version $NEW_VERSION --name foo-bar-baz-qux
#       #   run: bunx semantic-release@24
#       #   # run: |
#       #   #   echo $NEW_VERSION
#       #   #   sed -i 's/"version": "[^"]*"/"version": "'"$NEW_VERSION"'"/' package.json
#       #   #   bunx pnpm publish --no-git-checks

#     # steps:
#     #   - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
#     #   - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
#     #     with:
#     #       bun-version: "latest"
#     #       registry-url: "https://registry.npmjs.org/"

#     #   - name: Cache ~/.bun/install
#     #     id: cache-bun
#     #     uses: actions/cache@v4
#     #     with:
#     #       path: ~/.bun/install
#     #       key: ${{ runner.os }}-bun-v1
#     #       restore-keys: |
#     #         ${{ runner.os }}-bun-v1

#     #   - name: Install dependencies
#     #     shell: bash
#     #     id: install
#     #     run: bun install --frozen-lockfile
#     #     continue-on-error: false

#     #   - name: Setup npm auth
#     #     run: |
#     #       echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > ~/.npmrc
#     #   - name: Releasing
#     #     shell: bash
#     #     env:
#     #       NEW_VERSION: "3.1.0"
#     #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#     #       NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
#     #       NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
#     #       NPM_CONFIG_TOKEN: ${{ secrets.NPM_CONFIG_TOKEN }}
#     #     run: |
#     #       echo $NEW_VERSION
#     #       sed -i 's/"version": "[^"]*"/"version": "'"$NEW_VERSION"'"/' package.json
#     #       bunx npm publish --access public
#     #     # run: |
#     #     #   cat package.json
#     #     #   bun ./scripts/test-bun-crypto.ts
#     #     #   bun ./scripts/publish.ts --next-version 3.0.2
