name: ci

on: [push, pull_request, workflow_dispatch]

# Remove default permissions of GITHUB_TOKEN for security
# https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs

permissions:
  contents: read # for checkout

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

jobs:
  bruh:
    name: Continuous Releasing
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
        with:
          bun-version: "latest"
          registry-url: "https://registry.npmjs.org/"

      - name: Cache ~/.bun/install
        id: cache-bun
        uses: actions/cache@v4
        with:
          path: ~/.bun/install
          key: ${{ runner.os }}-bun-v1
          restore-keys: |
            ${{ runner.os }}-bun-v1

      - name: Install dependencies
        shell: bash
        id: install
        run: bun install --frozen-lockfile
        continue-on-error: false

      - name: Setup npm auth
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.GITHUB_TOKEN }}" > ~/.npmrc

      - name: Releasing
        shell: bash
        env:
          NEW_VERSION: "3.0.2"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo $NEW_VERSION
          sed -i 's/"version": "[^"]*"/"version": "'"$NEW_VERSION"'"/' package.json
          bun publish --access public
        # run: |
        #   cat package.json
        #   bun ./scripts/test-bun-crypto.ts
        #   bun ./scripts/publish.ts --next-version 3.0.2
