# .github/workflows/publish.yml

name: Publish

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # The OIDC ID token is used for authentication with JSR.
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2 # v2
        with:
          bun-version: "latest"
      - name: Install dependencies
        run: |
          bun install
          bun run start
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: bunx jsr publish --dry-run
